/*выполняется в 3-ю очередь*/
p {
font-style:italic;
color:blue;	
}
li {
list-style:none;
font-size:18px;	
}
#c {
	color:green;
}
li:nth-child(even) {
	font-size:20px;
}
li:nth-child(3n){
	background:yellow;
}
li:nth-child(1){
	background:yellow;
}
li a {
	text-decoration:none;
}

li a:hover {

	background-color:red;
}

li::before {
	content:'\2013';
}
#a {
	display: block;
	font-size: 30px;
}
#a2 {
	display: none;
	font-size: 30px;
	}
.w {
	text-decoration: none;
}
#a:hover + #a2{
	display: block;
}
#a:hover {
	color:rgba(0,0,0,0.0)
}
.image {
	position:relative;
	width:60%;
}
#d {
	display: block;
	font-size: 30px;
	position:relative;
	bottom:40px;
	text-align:center;
	color:green;
}
#d2 {
	display: none;
	font-size: 30px;
	position:relative;
	bottom:40px;
	text-align:center;
	margin-top:0px;
	}
#d:hover +#d2{
	display: block;
}
#d:hover {
	color:rgba(0,0,0,0.0);
}
.d {
	text-decoration: none;
}
#q {
	color:white;
}
span:hover +#q{
	color: black;
}
span:hover {
	color:white;
}